.checkout-container {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.customer-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  padding: 1rem;
  background-color: whitesmoke;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.input-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 100px;
}

.location-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.payment-info {
  background-color: #f7f7f7; /* Neutral color */
  margin-top: 5rem;
  width: 50vw;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-info h2 {
  color: #333;
  margin-bottom: 1.5rem; /* Added bottom margin for spacing */
  font-size: 24px;
  font-weight: 600; /* Boldness */
}

.input-label {
  width: 100%;
  margin-bottom: 1rem; /* Space between labels */
  font-size: 14px;
  font-weight: 600; /* Bold label text */
  color: #333; /* Darker color for text */
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.StripeElement {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px; 
  transition: border-color 0.3s;
}

.StripeElement:focus {
  outline: none;
  border-color: #007BFF
}

.cart-summary {
  margin-top: 5rem;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}

.cart-summary {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-items {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.cart-item-summary {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item-summary:last-child {
  border-bottom: none;
}

.item-name,
.item-quantity,
.item-price {
  flex-basis: 33%;
  text-align: center;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.submit-btn {
  background-color: #e092b1;
}


@media (max-width: 600px) {
  .input-group input {
      width: 100%;
      margin-bottom: 1rem;
  }

  .payment-info {
    width: 90%;
}
}