.sales-container {
    position: relative; /* Add positioning */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 60vw;
    margin-left: 40vw;
  }
  
.sales-container .monthly-sales,
.sales-container .daily-sales,
.sales-container .monthly-orders,
.sales-container .daily-orders {
  height: 250px;
  width: 350px;
  border: 2px solid black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  box-shadow: 0px 0px 10px 2px black;
  }
  
  .monthly-sales {
    background-image: url("../images/gray-background.jpg");
  }
  
  .daily-sales {
    background-image: url("../images/green-background.jpg");
  }
  
  .monthly-orders {
    background-image: url("../images/cloudy-background.jpeg");
  }
  
  .daily-orders {
    background-image: url("../images/blue-background.jpg");
  }
  
  .sales-container .monthly-sales h4,
  .sales-container .daily-sales h4,
  .sales-container .monthly-orders h4,
  .sales-container .daily-orders h4 {
    margin: 20px;
  }

  
.recent-transactions {
  margin-left: 0px !important;
  position: absolute;
  top: 70px;
  left: 50px;
}

.recent-transactions h5 {
  position: absolute;
  top: 70px;
}

.order-attention {
  width: 100%;
  height: 290px;
  margin-top: 10vw;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of items to a new line */
  display: flex; /* Add flex display to enable horizontal scrolling */
  padding-bottom: 10px; /* Add some bottom padding to create space for scrollbar */
}

.order-attention h4{
  position: absolute;
}

.order-container {
  display: flex;
  margin-top: 70px;
  flex-wrap: wrap;
}

.order-container .order-item {
  flex-shrink: 0; /* Prevent items from shrinking to fit container */
  height: 190px;
  width: 230px;
  border: 1px solid black;
  background-image: url("../images/cool-background.jpg");
  margin-right: 10px; /* Add some spacing between items */
}


.order-container .order-item .btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-container .order-item .btn-container .btn {
  width: 100px;
  margin-top: 10px;
}

@media (max-width: 1268px) {
  .sales-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .recent-transactions {
      position: static;
      margin-right: 10vw;
  }
  .recent-transactions h5 {
    position: relative;
  }
}
  
@media (max-width: 1100px) {
  .sales-container {
    margin-left: auto;
    margin-right: auto;
  }
  .recent-transactions {
    position: static;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .recent-transactions h5 {
    position: relative;
  }
}