body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECCFC3 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  height: 70px;
  width: 100px;
}

.nav-item {
  margin-left: 50px;
}

.carousel-img {
  height: 500px;
  width: 10%;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-carousel .carousel-control-prev {
  padding-right: 15px;
}

.custom-carousel .carousel-control-next {
  padding-left: 15px;
}

.custom-navbar {
  background-color: #8D89A6;
}

.custom-navbar .nav-item {
  color: black;
}

#header-3 {
  margin-top: 20px;
  position: absolute;
}

.recommended-container {
  margin-top: 50px;
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 200px;
  align-items: center;
  justify-content: space-around;
}

.recommended-container img {
  height: 150px;
  width: 200px;
}

.footer {
  background-color: #8D89A6;
  padding: 20px 0;
  margin-top: 100px;
}

.footer h5 {
  color: black;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer p {
  color: black;
  font-size: 14px;
  line-height: 1.5;
}

.footer .contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .contact-info li {
  color: black;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}


.nav-link {
  margin-top: 10px;
}

.dropdown {
  color: black;
}