body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(farthest-side, #F7A1C4, #E0B7B7) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  height: 70px;
  width: 100px;
}

.nav-item {
  margin-left: 50px;
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s;
}

.nav-item:hover::after {
  width: 100%;
}

.brand-item:hover {
  color: white !important;
}

.brand-item:active {
  color: black !important;
}

.custom-navbar {
  background-image: radial-gradient(farthest-side, #F0D2D1, #BBA0CA);
}

.about-section {
  display: flex;
  justify-content:center;
  width: 100%;
  margin-top: 100px;
}

.about-section .image-container{
  padding-right: 10rem;
}

.about-section .image-container img{
  height: 40vw;
  width: 30vw;
}

.about-me {
  width: 50vw;
}

.about-me p{
  font-weight: bolder;
  font-size: larger;
}

.sample-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.sample-container img {
  height: auto;
  width: 100%;
  max-width: 450px;
  margin-top: 1vw;
}

.contact-me {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-image: radial-gradient(farthest-side, #e092b1, #E0B7B7) !important;
}

.contact-form {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.name-fields-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#first-name,
#last-name {
  width: 20vw;
  margin: 10px;
}

#first-name, #last-name,
#email, #body {
  border-radius: 0%;
}

.name-group {
  margin-bottom: 10px;
}

.footer {
  background-image: radial-gradient(farthest-side, #F0D2D1, #BBA0CA);
  padding: 20px 0;
  margin-top: 10vw;
  text-align: center; /* Center the content inside the footer */
}

.footer h5 {
  color: black;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer p {
  color: black;
  font-size: 14px;
  line-height: 1.5;
}

.footer .contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .contact-info li {
  color: black;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  font-size: 24px;
  color: #333;
  margin-right: 10px;
}

.social-icon:hover {
  color: #ff1493;
}

#logo {
  height: 100px;
}

.btn-container{
  margin-top: 50px;
}

.btn-container button {
  height: 80px;
  width: 150px;
  border: 2px solid black;
  background-color: #FF928B;
}

.btn-container button:hover {
  background-color: #d1756e;
}

.btn-container button:active {
  background-color: #a35c57;
}

  
@media (max-width: 765px) {
  .nav-item:hover::after {
    width: 0%;
  }
}

@media (max-width: 1133px) {
  .about-section {
    flex-direction: column;
  }

  .about-section .image-container{
    padding-right: 0rem;
  }

  .about-me {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}