.login-container .header-container {
  border-bottom: 2px solid black;
  margin-top: -150px;
}

.login-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 650px;
  width: 85vw;

  background-color: rgba(211, 211, 211, 0.623);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-container .login-form {
  margin-top: 100px;
}

.login-container input {
  background-color: rgb(211, 211, 211);
  height: 30px;
  margin-top: 50px;
}

.login-container label img{
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-top: -15px;
}

a:hover{
  color: red;
}

.login-container button{
  width: 100px;
  height: 30px;
  margin-top: 70px;
  margin-left: 30px;
  background-color: pink;
}


.login-container button:active{
  background-color: rgb(179, 148, 153);
}

#pass-reset {
  margin-top: 50px;
}

.reset-container {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.reset-form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
}

input {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d1d1d1;
}

.reset-btn {
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.reset-btn:hover {
  background-color: #2980b9;
}


