.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(240, 92, 143, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #fc628d;
  margin-bottom: 20px;
}

.header-container h2 {
  color: #fc628d;
  font-weight: 600;
}

.login-form {
  width: 100%;
  margin-top: 20px;
}

.email-field, .password-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label img {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #fcd3e1;
  border-radius: 5px;
  background-color: #fff7f9;
  transition: border-color 0.3s;
}

input[type="email"]:hover, input[type="password"]:hover,
input[type="email"]:focus, input[type="password"]:focus {
  border-color: #fc628d;
}

button, #pass-reset {
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#login, #register {
  background-color: #fc628d;
  margin-right: 10px;
}

button:hover, #register:hover {
  background-color: #e0507f;
}

#pass-reset {
  margin-top: 10px;
  background: none;
  text-decoration: underline;
  color: #fc628d;
  cursor: pointer;
}

#pass-reset:hover {
  text-decoration: none;
  color: #e0507f;
}

#login {
  margin-right: 10px;
}

.reset-container {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(240, 92, 143, 0.15); 
  background-color: #ffffff;
}

.reset-form {
  width: 100%;
}

h2 {
  text-align: center;
  color: #fc628d;
  margin-bottom: 25px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #fcd3e1;
  border-radius: 5px;
  background-color: #fff7f9;
  transition: border-color 0.3s;
  font-size: 16px;
}

input:focus {
  border-color: #fc628d;
}

.reset-token {
  width: 100%;
  cursor: pointer;
  background-color: #fc628d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  margin-top: 15px;
  transition: background-color 0.3s;
}

.reset-token:hover {
  background-color: #e0507f;
}