.success-msg {
    background-color: 2px solid rgb(30, 100, 100, 0.577);
    height: 100px;
    width: 70vw;
    position: fixed;
    left: 13rem;
    top: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-msg {
    background-color: rgba(220, 20, 60, 0.577);
    height: 100px;
    width: 70vw;
    position: fixed;
    left: 13rem;
    top: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
