.guest-notification {
  border: 3px solid #fcd3e1; /* Softer border with the pink theme */
  border-radius: 5px; /* Rounded corners */
  padding: 10px;
  color: #fc628d; /* Pinkish color */
  background-color: #ffe5ed; /* Soft pink background */
}

.cart-container {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: space-around;
  align-items: start; /* Aligned to the start for better layout */
  flex-wrap: wrap;
  padding: 20px;
}

.my-cart {
  height: auto; /* Auto height to fit content */
  width: 60vw; /* Taking up 60% of the viewport width */
  background-color: #ffffff; /* Pure white background for contrast */
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(240, 92, 143, 0.1); /* Soft pink shadow */
  padding: 20px; /* Internal padding for a cleaner look */
}

.cart-body {
  margin: 0;
  width: 100%;
}

.cart-img {
  height: 5rem;
  border-radius: 10px; /* Rounded corners for images */
}

.summary-container {
  width: 30vw; /* Taking up 30% of the viewport width */
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(240, 92, 143, 0.1); /* Soft pink shadow */
  padding: 20px;
}

.summary-container .summary-body {
  margin-top: 20px;
}

.summary-container .summary-body button {
  margin-top: 20px;
  height: 50px;
  width: 150px;
  background-image: radial-gradient(circle,#A997DF, #777ab5);
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s;
}

.summary-container .summary-body button:hover {
  background-image: radial-gradient(circle,#A997DF, #51537c);
}

.cart-body button {
  height: 45px; /* Slightly reduced height for modern look */
  width: auto; /* Let the button size itself based on content */
  padding: 10px 20px; /* Button padding for a modern look */
  background-color: #fc628d; /* Vibrant pink color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  color: #ffffff; /* White text color */
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-body button:hover {
  background-color: #e0507f; /* Darker pink on hover */
}

@media (max-width: 1565px) {
  .summary-container {
    margin-top: 30px;
  }
}

@media (max-width: 1090px) {
  .my-cart, .summary-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
