.guest-notification {
  border: 3px solid red;
}

.cart-container {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #51537c;
}

.my-cart {
  height: 500px;
  width: 100%;
  background-color: aliceblue;
  margin-top: 50px;
  border-radius: 5%;
}

.my-cart .cart-body {
  margin-right: 40vw;
  margin-top: 50px;
  width: 100%;
}

.my-cart .cart-img{
  height: 5rem;
}

.summary-container {
  width: 30rem;
  background-color: aliceblue;
  border-radius: 5%;
  margin-top: 10rem;
}

.summary-container .summary-body{
  margin-top: 50px;
}

.summary-container .summary-body button{
  margin-top: 20px;
  height: 50px;
  width: 150px;
  background-image: radial-gradient(circle,#A997DF, #777ab5);
}

.summary-container .summary-body button:active{
  background-image: radial-gradient(circle,#A997DF, #51537c);
}

.cart-body button {
  height: 80px;
  width: 20vw;
  background-color: rgb(188, 45, 45);
}

@media (max-width: 1565px) {
  .summary-container {
    margin-top: 100px;
  }
}

@media (max-width: 1090px) {
  .my-cart {
    margin-left: auto;
    margin-right: auto;
  }
}