.portfolio-header {
    width: 80%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.portfolio-header h1{
    float: left;
}

.portfolio-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}
  
.portfolio-container .post-container img {
    width: 100%;
    max-width: 450px;
    margin-top: 1vw;
}

.portfolio-container .post-container .img-container img {
    height: 500px;
    width: 500px;
}

.portfolio-container .post-container {
    position: relative;
}
  
.portfolio-container .delete-icon {
    position: absolute;
    top: 12px;
    right: 0px;
    height: 70px;
    width: 60px;
    border: 2px solid red;
    background-color: rgba(255, 255, 255, 0.781);
}

