.shopping-items {
    margin-top: 50px;
    background-color: #f1dede1f;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shopping-items .delete-btn {
    width: 7rem;
    height: 50px;
    background-color: #FF928B;
    margin-top: 10px;
}

.shopping-items .delete-btn:active {
    width: 7rem;
    height: 50px;
    background-color: #b06863;
}

.custom-modal-button {
    height: 60px;
    background-color: #FF928B !important;
}

.user-description {
    resize: none;
    width: 70%;
}

.card-img {
    height: 200px;
}

#delete {
    height: 40px;
    margin-left: 10px;
}

#add {
    height: 100px;
}

#submit {
    margin-top: 50px;
    width: 150px;
}

.add-link {
    margin-top: 50px;
}

.add-link button{
    height: 60px;
    background-color: #f1dede1f;
}