.shopping-items {
    background-color: #F1DEDE;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-img {
    height: 200px;
}

#delete {
    height: 40px;
    margin-left: 10px;
}

#add {
    height: 100px;
}

#submit {
    margin-top: 50px;
    width: 150px;
}