.shopping-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.CCard {
    width: 15rem;
    border: 2px dashed #FFC0CB;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    background-color: #FFF1F9;
    transition: transform 0.3s;
}

.CCard:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.CCardTitle {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #D43BAD;
    text-align: center;
    margin-bottom: 10px;
}

/* Delete button */
.delete-btn {
    display: block;
    margin: auto;
    background-color: #FF928B;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #FF1493;
}
.custom-modal-button {
    height: 50px;
    background-color: #FF928B !important;
}

.user-description {
    resize: none;
    width: 70%;
}

.card-img {
    height: 200px;
}

#delete {
    height: 40px;
    margin-left: 10px;
}

#add {
    height: 100px;
}

#submit {
    margin-top: 50px;
    width: 150px;
}

.add-link {
    margin-top: 50px;
}

.add-link button{
    height: 60px;
    background-color: #f1dede1f;
}